<div class="bkflight">
   <div class="col-md-7">

      <div class="card align-content-center">
         <div class="card-header">BOOKING DETAILS</div>

         <div class="card-body">

            <p>ID: {{ID}}</p>
            <p>BOOKING ID: {{bookingno}}</p>
            <p>FIRST NAME: {{firstname}}</p>
            <p>LASTNAME: {{lastname}}</p>
            <p> EMAIL:{{email}}</p>
            <p>PHONE NO: {{phone_no}}</p>
            <p>AGE: {{age}}</p>
            <p>SEX: {{sex}}</p>
         </div>

         <div class="card-footer">
            <button class="btn-success"><a href="#">CONTINUE</a></button>
         </div>
      </div>
   </div>
</div>
,,,,