<div class="container-fluid">
   <div class="row bkflight mt-5">
      <div class="col-md-7">

         <div class="card align-content-center">
            <div class="card-header">FLIGHT DETAILS</div>

            <div class="card-body">
               <p>ID: {{ID}}</p>
               <p>FLIGHT NUMBER: {{flightno}}</p>
               <p>TAKE-OFF POINT: {{takeoffpoint}}</p>
               <p>LANDING POINT:{{landingpoint}}</p>
               <p>TAKE-OFF TIME: {{takeofftime}}</p>
               <p>PRICE: {{price}}</p>
            </div>
            <div class="card-footer">
               <a href="/managebookings/create" class="btn btn-success">
                  CONTINUE
               </a>
            </div>
         </div>
      </div>
   </div>
</div>