<div class="container">
  <h3 class="text-center">List OF Available Flights</h3>
  <p>
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
  </p>
  <table class="table table-striped table-bordered table-dark table-responsive-sm table-hover mt-5">
    <thead>
      <th>ID</th>
      <th>FLIGHT NO</th>
      <th>FROM</th>
      <th>TO</th>
      <th>TAKE-OFF TIME</th>
      <th>PRICE</th>
      <th colspan="3">ACTION</th>
    </thead>
    <tbody id="flightable">
      {{#each data}}
      <tr>
        <td>{{ID}}</td>
        <td> {{flightno}}</td>
        <td>{{takeoffpoint}} </td>
        <td> {{landingpoint}} </td>
        <td>{{takeofftime}}</td>
        <td>{{price}}</td>
        <td> <a class="btn btn-sm btn-warning" href="/manageflights/update/{{ID}}">Edit</a></td>
        <td><a class="btn btn-sm btn-danger" href="/manageflights/delete/{{ID}}">Delete</a></td>
        <td><a class="btn btn-sm btn-success" href="/managebookings/create/{{ID}}">Book</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<script>
  $(document).ready(function () {
    $("#myInput").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#flightable tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>