<div class="container mt-5">
   <h3>List OF Passengers</h3>
   <input class="form-control" id="myInput" type="text" placeholder="Search..">
   <table class="table  table-striped table-bordered table-dark table-responsive-sm table-hover mt-3">
      <thead>
         <th>ID</th>
         <th>FIRST NAME</th>
         <th>LAST NAME</th>
         <th>EMAIL</th>
         <th>PHONE NO</th>
         <th>AGE</th>
         <th>SEX</th>
         <th colspan="2">ACTION</th>
      </thead>
      {{#each data}}
      <tbody id="passengertable">
         <tr>
            <td>{{ID}}</td>
            <td>{{firstname}}</td>
            <td>{{lastname}}</td>
            <td>{{email}}</td>
            <td> {{phone_no}}</td>
            <td> {{age}}</td>
            <td> {{sex}}</td>
            <td> <a class="btn btn-sm btn-warning" href="/managepassengers/update/{{ID}}">Edit</a></td>
            <td><a class="btn btn-sm btn-danger" href="/managepassengers/delete/{{ID}}">Delete</a></td>
         </tr>
         {{/each}}
      </tbody>
   </table>
</div>
<script>
   $(document).ready(function () {
      $("#myInput").on("keyup", function () {
         var value = $(this).val().toLowerCase();
         $("#passengertable tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
         });
      });
   });
</script>